In [1]:
import sys
import pandas as pd
import ankh
import os

/storage1/gavrilenkoa/anaconda3/envs/DBP-finder/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
sys.path.append("..")

In [3]:
from scripts.utils import convert_fasta_to_df, write_fasta, filter_df, prepare_neg_samples

In [4]:
df = pd.read_csv("../data/external/trembl_test.csv")

In [5]:
df = convert_fasta_to_df("../data/not_annotated/raw_fasta/merged.fasta")

In [6]:
go_no_annot = prepare_neg_samples("../data/not_annotated/not_annotated.yml")

In [14]:
out_df = df.merge(go_no_annot, on="identifier")

In [16]:
out_df

       identifier                                           sequence
0      A0A178U7Y7  MITGDSIDGMDFISSLPDEILHHILSSVPTKSAIRTSLLSKRWRYV...
1      A0A178U8Q8  MRNAVVALRHHRRVSLLRRIVAFRDDNTICLSPSLKNNELSRQTNS...
2      A0A178U9N5  MRAKGKKQSEEAPEHAIAMALLCPSLPSPNSRLFRCRSSNISSKYH...
3      A0A178UBI5  MEMDPLLRSYPDIGYKAFGNTGRVIVSIFMNLELYLVATSFLILEG...
4      A0A178UCR2  MMKMSIGTTTSGDGEMELRPGGMVVQKRTDHSSSVPRGIRVRVKYG...
...           ...                                                ...
86956  A0A1B2JJA1  MNGYVLVTGGAGYIGSHTVVELLNNDYLVIVVDNLSNSSYHVIKRI...
86957      Q96X16  MRLTNLLSLTTLVALAVAVPDFYQKREAVSSKEAALLRRDASAECV...
86958  A0A1B2J6E6  MSYSAEDIEVLDKKFPSLKDEFHIPTFKSLGIAPPQSKDENDDSIY...
86959  A0A1B2J9A8  MPSPHGGVLQDLIKRDASIKEDLLKEVPQLQSIVLTGRQLCDLELI...
86960  A0A1B2JET5  MKKLTFVTGNSNKLKEFLAIVNGSEETSTVGDYEIVCQSVDLPELQ...

[86961 rows x 2 columns]

In [17]:
df

        identifier                                           sequence
0       A0A178U7Y7  MITGDSIDGMDFISSLPDEILHHILSSVPTKSAIRTSLLSKRWRYV...
1       A0A178U8Q8  MRNAVVALRHHRRVSLLRRIVAFRDDNTICLSPSLKNNELSRQTNS...
2       A0A178U9N5  MRAKGKKQSEEAPEHAIAMALLCPSLPSPNSRLFRCRSSNISSKYH...
3       A0A178UBI5  MEMDPLLRSYPDIGYKAFGNTGRVIVSIFMNLELYLVATSFLILEG...
4       A0A178UBX9  MAIYYKFKSARDYDTIAMDGPFISVGILKDKIFETKHLGTGKDLDI...
...            ...                                                ...
106511  A0A1B2JJA1  MNGYVLVTGGAGYIGSHTVVELLNNDYLVIVVDNLSNSSYHVIKRI...
106512      Q96X16  MRLTNLLSLTTLVALAVAVPDFYQKREAVSSKEAALLRRDASAECV...
106513  A0A1B2J6E6  MSYSAEDIEVLDKKFPSLKDEFHIPTFKSLGIAPPQSKDENDDSIY...
106515  A0A1B2J9A8  MPSPHGGVLQDLIKRDASIKEDLLKEVPQLQSIVLTGRQLCDLELI...
106516  A0A1B2JET5  MKKLTFVTGNSNKLKEFLAIVNGSEETSTVGDYEIVCQSVDLPELQ...

[88435 rows x 2 columns]

In [12]:
out_df.to_csv("../data/not_annotated/not_annotated_seqs_v0.csv", index=False)

In [7]:
test_1 = pd.read_csv("../data/splits/trembl_test_MF_dbp_finder.csv")

In [13]:
test_1.label.value_counts()

0    282
1    159
Name: label, dtype: int64

In [14]:
test_2 = pd.read_csv("../data/splits/trembl_test_proteinfer_dbp_finder.csv")

In [15]:
test_2.label.value_counts()

0    306
1    288
Name: label, dtype: int64