In [1]:
import pandas as pd
import pickle
import numpy as np
import joblib
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GroupShuffleSplit
from train_src import merge_embed, filter_train, make_balanced_df, make_lama_df, merge_embed, Metrics, form_Xy

In [2]:
df = pd.read_csv("../data/ready_data/train_p2.csv")

In [3]:
df.source.value_counts()

train_p2    69872
pdb20000    20000
pdb2272      2272
pdb1000      1000
pdb186        186
Name: source, dtype: int64

In [10]:
df.head()

,identifier,sequence,label,cluster,source
0,2L8DA,GAMGMPNRKYADGEVVMGRWPGSVLYYEVQVTSYDDASHLYTVKYK...,1,1963,pdb186
1,2LI6A,QSLNPALQEKISTELNNKQYELFMKSLIENCKKRNMPLQSIPEIGN...,1,1964,pdb186
2,2LJ6A,MPSSKPLAEYARKRDFRQTPEPSGRKPRKDSTGLLRYCVQKHDASR...,1,1965,pdb186
3,2LUYA,HMGKNDNDALIMCMRCRKVKGIDSYSKTQWSKTFTFVRGRTVSVSD...,1,1966,pdb186
4,2LVSA,MPSVNDSLDIVEKLYKDGVPVKEIAKRSNNSMSTVYKALEKLEAMG...,1,1967,pdb186

In [11]:
pdb20000 = df[df["source"] == "pdb20000"]
pdb2272 = df[df["source"] == "pdb2272"]
pdb1000 = df[df["source"] == "pdb1000"]
pdb186 = df[df["source"] == "pdb186"]
train = df[df["source"] == "train_p2"]

In [27]:
pdb186.cluster.nunique()

181

In [28]:
pdb2272.cluster.nunique() / len(pdb2272)

0.9991197183098591

In [29]:
pdb1000.cluster.nunique() / len(pdb1000)

0.502

In [30]:
pdb20000.cluster.nunique() / len(pdb20000)

0.27115

In [31]:
train.label.value_counts()

0    34936
1    34936
Name: label, dtype: int64

In [32]:
train.cluster.nunique() / len(train)

0.40120506068239065

In [44]:
grouped_df = pdb1000.groupby(["cluster"])

In [45]:
len(grouped_df)

502

In [47]:
count = 0
for cluster, group_data in grouped_df:
    if len(group_data) > 1 and group_data.label.nunique() > 1:
        count += 1
print(count)

0

/tmp/ipykernel_1896321/2311103148.py:2: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for cluster, group_data in grouped_df:

In [22]:
test = pd.read_csv("../data/ready_data/test_0.5.csv")

In [23]:
test.head()

,identifier,label,sequence,cluster
0,A0A061HLT0,1,MQTDPPAGVSASPVADNVMIWNAVIIGPADTPFEDGTFRLVMQFEE...,363
1,A0A061IE76,1,MDNMSITNTPTSNDACLSIVHSLMCHRQGGESETFAKRAIESLVKK...,388
2,A0A061IIX2,1,MTAEQRQNLQAFRDYVRKTLDPTYILSYMSPWLQDDEVQYIQAEKN...,848
3,A0A075AP15,1,MTVPSTSHSAKPPSRPSLVPKKAEKPQLPSVPLHLVDKRDNDIQYI...,353
4,A0A075F5C6,1,MDLAVGPGAAGPSNVPAFLTKLWTLVSDPDTDALICWSPSGNSFHV...,844

In [27]:
test.cluster.nunique() / len(test)

0.09588902389631429

In [25]:
grouped_df = test.groupby(["cluster"])

In [26]:
count = 0
for cluster, group_data in grouped_df:
    if len(group_data) > 1 and group_data.label.nunique() > 1:
        count += 1
print(count)

8

/tmp/ipykernel_1541355/2311103148.py:2: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for cluster, group_data in grouped_df: