In [1]:
import pandas as pd
import pickle
import numpy as np
import joblib
from sklearn.model_selection import train_test_split

In [21]:
df = pd.read_csv("../data/embeddings/input_csv/yeast.csv")

In [22]:
df.label.value_counts()

0    1753
1     394
Name: label, dtype: int64

In [2]:
df = pd.read_csv("../data/ready_data/train_p2.csv") # мои исходные данные

In [3]:
df.source.value_counts()

train_p2    69872
pdb20000    20000
pdb2272      2272
pdb1000      1000
pdb186        186
Name: source, dtype: int64

In [4]:
df.head()

,identifier,sequence,label,cluster,source
0,2L8DA,GAMGMPNRKYADGEVVMGRWPGSVLYYEVQVTSYDDASHLYTVKYK...,1,1963,pdb186
1,2LI6A,QSLNPALQEKISTELNNKQYELFMKSLIENCKKRNMPLQSIPEIGN...,1,1964,pdb186
2,2LJ6A,MPSSKPLAEYARKRDFRQTPEPSGRKPRKDSTGLLRYCVQKHDASR...,1,1965,pdb186
3,2LUYA,HMGKNDNDALIMCMRCRKVKGIDSYSKTQWSKTFTFVRGRTVSVSD...,1,1966,pdb186
4,2LVSA,MPSVNDSLDIVEKLYKDGVPVKEIAKRSNNSMSTVYKALEKLEAMG...,1,1967,pdb186

In [5]:
pdb20000 = df[df["source"] == "pdb20000"]
pdb2272 = df[df["source"] == "pdb2272"]
pdb1000 = df[df["source"] == "pdb1000"]
pdb186 = df[df["source"] == "pdb186"]
train = df[df["source"] == "train_p2"]

In [6]:
pdb1000.label.value_counts()

1    500
0    500
Name: label, dtype: int64

In [7]:
pdb186.cluster.nunique()

181

In [8]:
pdb2272.cluster.nunique() / len(pdb2272)

0.9991197183098591

In [9]:
pdb1000.cluster.nunique() / len(pdb1000)

0.502

In [10]:
pdb20000.cluster.nunique() / len(pdb20000)

0.27115

In [11]:
train.label.value_counts()

0    34936
1    34936
Name: label, dtype: int64

In [12]:
train.cluster.nunique() / len(train)

0.40120506068239065

In [15]:
grouped_df = train.groupby(["cluster"])

In [16]:
len(grouped_df)

28033

In [17]:
count_pos = 0
count_neg = 0
count_bin = 0
for cluster, group_data in grouped_df:
    if (group_data.label.unique() == 1).all():
        count_pos += 1
    elif (group_data.label.unique() == 0).all():
        count_neg += 1
    else:
        count_bin += 1
assert count_pos + count_neg + count_bin == len(grouped_df)
print(count_pos, count_neg, count_bin)

/tmp/ipykernel_4111763/1470937387.py:4: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for cluster, group_data in grouped_df:

10483 17394 156